streamlit==1.27.2
requests==2.28  # Include only if required for the frontend
streamlit-ace==0.1.1
streamlit-bokeh-events==0.1.2
streamlit-image-comparison==0.0.4
streamlit-option-menu==0.3.6
streamlit-authenticator==0.2.3
streamlit-extras==0.3.4
Pillow==9.4.0